<strong>Olá, {{ student }}</strong>
<p>Sua matricula foi efetuada com sucesso, confira os detalhes abaixo:</p>
<p>
  <strong>Plano selecionado: </strong> {{ plan }} <br />
  <strong>Data de início: </strong> {{ start_date }} <br />
  <strong>Data de término: </strong> {{ end_date }} <br />
  <strong>Preço calculado </strong> R${{ price }} <br />
  <br />
</p>
